<footer class="main-footer">
  <div class="float-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright &copy; <%- new Date().getFullYear()%> <a href="https://briswell.com" target="_blank">Briswell co.,ltd.</a></strong>
</footer>