<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sample System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>

  </div>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="user user-menu">
        <form action="/sign" method="post">
          <%- locals.username %>
          <button type="submit" id="loginsubmit">
          <%if (locals.username===undefined){ %> 
            login
            <% }else{ %>
              logout
              <% } %>
          </button>
        </form>
      </li>
      <li>
        <a href="/logout?redirect"><i class="fas fa-sign-out-alt"></i></a>
      </li>
    </ul>
  </div>
</nav>